$primary: #A65CF0;
$primaryLigth: #C998FB;
$primaryShade: #7033AC;
$pinkLight: #F8EFFF;
$pinkViolet: #EBD1FF;
$secondary: #FF862F;
$secondaryLight: #FFBD59;
$secondaryShade: #BB370E;
$redInput: #FF6972;
$greenInput: #B8EC64;
$gold: #D5B986;
$white: #FFFFFF;
$greyLight: #F7F7F7;
$mdGrey: #EAEAEA;
$grey: #999999;
$grayShade: #666666;
$limeColor: #DAFFD1;
$bone: #FFF5D1;
$background: #333333;
